@{
    ViewBag.Title = "Home Page";
}


<ul class="list-group pt-5">
    <li class="list-group-item text-center">Project Information</li>
    <li class="list-group-item list-group-item-primary">Database Created By using Microsoft SQL Server</li>
    <li class="list-group-item list-group-item-secondary">Backend And Frontend designed by using EntityFramework, Bootstrap-5 with Mvc Architecture</li>
</ul>